.main-wrapper .cate-box {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 3px 0 #dee2e6;
  box-shadow: 0 0 3px 0 #dee2e6;
}
.col6-no {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  flex-basis: calc(100% / 6);
  width: calc(100% / 6);
}
.col6-no:hover {
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.cate-item {
  background-color: #f4f4f4;
  position: relative;
  width: 95px;
  height: 95px;
  border-radius: 100rem;
}
.cate-item img {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 992px) {
  .col6-no {
    flex-basis: calc(100% / 4);
    width: calc(100% / 4);
    border-right: 0;
    border-bottom: 0;
  }
  .cate-item {
    height: 48px;
    width: 48px;
  }
  .cate-item img {
    width: 60px;
  }
  .cate-item-name {
    font-size: 14px;
    text-align: center;
  }
}
